<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="/styles/loginpane.css" rel="stylesheet">
</head>

<body>
    <div class="container-fluid main-window pt-5 pt-md-0">
        <div class="row main-row gy-3">
            <div class="col-12 col-md-6 bg-white d-flex align-items-center justify-content-center">
                <form class="w-100 pt-4" onsubmit="createUser(event)">
                    <p class="text-center m-0 desc-head">Create User</p>
                    <div class="d-flex justify-content-center">
                        <div class="px-2 px-md-4 pt-3 pt-md-4 login-container flex-fill">
                            <label for="user-id" class="form-label mt-md-3">User ID</label>
                            <input type="text" id="user-id" class="form-control p-3" name="username" pattern="\d{4}" title="4-digit number" required>
                            <label for="password" class="form-label mt-3">Password</label>
                            <input type="password" id="password" class="form-control p-3 mb-md-3" name="password" required>
                            <button type="submit" class="btn btn-primary w-100 p-3 my-4">Submit</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-12 col-md-6 bg-white d-flex align-items-center justify-content-center border-start">
                <form class="w-100 pt-4" method="get" action="\admin\users">
                    <p class="text-center m-0 desc-head">View User</p>
                    <div class="d-flex justify-content-center">
                        <div class="px-2 px-md-4 pt-4 pt-md-4 users-input-container flex-fill">
                            <div class="mb-3 p-5 user-field-container position-relative">
                                <div
                                    class="position-absolute top-0 end-0 bg-primary corner-dot rounded-circle d-flex justify-content-center align-items-center">
                                    1</div>
                                <input type="text" id="user1" class="form-control p-2" name="u1" pattern="\d{4}" title="4-digit number">
                            </div>
                            <div class="mb-3 p-5 user-field-container position-relative">
                                <div
                                    class="position-absolute top-0 end-0 bg-primary corner-dot rounded-circle d-flex justify-content-center align-items-center">
                                    2</div>
                                <input type="text" id="user2" class="form-control p-2" name="u2" pattern="\d{4}" title="4-digit number">
                            </div>
                            <div class="d-flex justify-content-end">
                                <button type="submit" class="btn btn-primary view-button w-100 p-3 my-2">View</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="/scripts/admin_control.js"></script>

</body>
</html>
