body {
    background-color: #F4F4F4;
    height: 100vh;
    overflow-x: hidden;
}

.main-window {
    height: 100%;
}

.form-container {
    flex: 1;
}

.image-container {
    height: 250px;
    width: 250px;
}

#drop-area {
    height: 100%;
    background-color: #EEEEEE;
    border: 2px dashed #CDCDCD;
}

#photoInput {
    display: none;
}

#drop-area.highlight {
    border-color: #2196F3;
}

img {
    width: 100%;
    border-radius: 3%;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 100;
}

#view-window {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    max-width: 576px;
    z-index: 101;
    transform: translate(0);
    transition: transform 0.5s ease-out;
    display: flex
}

#view-window.hide {
    transform: translate(100%);
}

* {
    font-family: 'Montserrat', sans-serif;
}

.approved {
    font-size: 1.7rem;
    text-align: center
}

@media screen and (min-width: 576px) {
    .image-container {
        height: 350px;
        width: 350px;
    }

    #overlay.show {
        display: block;
    }
    
}